* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.con {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
} 

input[type]{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

#output{
    text-align: right;
    letter-spacing: 2px;
    width: -webkit-fill-available;
    padding: 2px;
    font-size: 23px;
    height: 50px;
    border: none;
    padding: 10px;
}